<ion-header>
  <ion-navbar>
    <ion-title>
      Signup
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
  <form id="signup-form4">
    <ion-list id="signup-list1">
      <ion-item id="signup-input5">
        <ion-label>
          Street
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="signup-input6">
        <ion-label>
          Kanton
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="signup-input7">
        <ion-label>
          City
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <ion-item id="signup-checkbox5">
      <ion-label>
        AGB
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <button id="signup-button2" ion-button color="positive" block>
      Confirm
    </button>
  </form>
</ion-content>
