<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-button>
    <ion-title>second</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 id="personal-heading1" style="color:#000000;">
    Pizza Order
  </h1>
  <form id="personal-form1">
    <ion-item id="personal-input1">
      <ion-label>
        Name
      </ion-label>
      <ion-input type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item id="personal-input2">
      <ion-label>
        Email
      </ion-label>
      <ion-input type="email" placeholder=""></ion-input>
    </ion-item>
    <ion-item id="personal-input3">
      <ion-label>
        Time
      </ion-label>
      <ion-input type="time" placeholder=""></ion-input>
    </ion-item>
    <ion-item id="personal-input4">
      <ion-label>
        Date
      </ion-label>
      <ion-input type="date" placeholder=""></ion-input>
    </ion-item>
  </form>
  <form id="personal-form2">
    <ion-item name="margarita" id="personal-checkbox3">
      <ion-label>
        Margarita
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item name="prosciutto" id="personal-checkbox2">
      <ion-label>
        Prosciutto
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item name="hawaii" id="personal-checkbox4">
      <ion-label>
        Hawaii
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </form>
  <form id="personal-form3">
    <ion-item id="personal-select1">
      <ion-label>
        Vigitarisch
      </ion-label>
      <ion-select name="">
        <ion-option>
          Nothing Select
        </ion-option>
        <ion-option>
          Lauch
        </ion-option>
        <ion-option>
          Tofu
        </ion-option>
      </ion-select>
    </ion-item>
  </form>
  <button id="personal-button1" ion-button color="balanced" block>
    <ion-icon name="cart"></ion-icon>
    Order
  </button>
</ion-content>
