<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-button>
    <ion-title>Pizza Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 style="color:#000000;">
    Pizza Order
  </h1>
  <form>
    <ion-item>
      <ion-label>
        Name
      </ion-label>
      <ion-input type="text" required placeholder="Erik Faisst"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Email
      </ion-label>
      <ion-input type="email" required placeholder="beistpiel@gmx.ch"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Time
      </ion-label>
      <ion-input type="time"required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Date
      </ion-label>
      <ion-input type="date" required></ion-input>
    </ion-item>
  </form>
  <form>
    <ion-item name="margarita">
      <ion-label>
        Margarita
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item name="prosciutto">
      <ion-label>
        Prosciutto
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item name="hawaii">
      <ion-label>
        Hawaii
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </form>
  <form>
    <ion-item>
      <ion-label>
        Vigitarisch
      </ion-label>
      <ion-select name="">
        <ion-select-option>
          Nothing Select
        </ion-select-option>
        <ion-select-option>
          Lauch
        </ion-select-option>
        <ion-select-option>
          Tofu
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <ion-button ion-button color="balanced" [routerLink]="['/menu/signup']" block>
    <ion-icon name="cart"></ion-icon>
    Order
  </ion-button>
</ion-content>
